{{define "content"}}
    <div class="main-menu">
        <div class="row">
            <div class="columns small-12 text-center">
                <h2>Best fish market in the world</h2>
                <h3>We deliver your favorite, fresh and tasty fishes</h3>
                <p>Salmon, silver fish, sardines and much more with exciting offers</p>
                <p>Join us now to enjoy the services</p>
            </div>
        </div>
        <div class="row">
            <div class="columns small-10 small-offset-1">
                <div class="row">
                    <div class="columns small-4">
                        <a href="stand_locator"> <img src="/img/lemon_outline.png"
                                             alt="lemon" class="lemon"/>
                        <div class="row">
                            <div class="icon columns small-12">
                                <img src="/img/tag.png" alt="tag"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12 text-center label">Sales</div>
                        </div>
                        </a>
                    </div>
                    <div class="columns small-4">
                        <a href="shop"> <img src="/img/lemon_outline.png"
                                             alt="lemon" class="lemon"/>
                            <div class="row">
                                <div class="icon columns small-12">
                                    <img src="/img/cart.png" alt="shop"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns small-12 text-center label">Shop</div>
                            </div>
                        </a>
                    </div>
                    <div class="columns small-4">
                        <a href="members"> <img src="/img/lemon_outline.png"
                                             alt="lemon" class="lemon"/>
                        <div class="row">
                            <div class="icon columns small-12">
                                <img src="/img/people.png" alt="members"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns small-12 text-center label">Members</div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}