{{define "content"}}
    <div class="row products">
        <div class="columns small-12">
            <div class="row">
                <div class="columns small-3 product">
                    <img src="/img/sardine.png" alt="lemon"/>
                    <a href="shop_detail">
                        <h3>Sardine</h3>
                    </a>
                    <p>
                        $2/kg
                    </p>
                </div>
                <div class="columns small-3 product">
                    <img src="/img/catla.png" alt="apple"/>
                    <a href="">
                        <h3>Catla Catla</h3>
                    </a>
                    <p>
                        $10 / kg
                    </p>
                </div>
                <div class="columns small-3 product">
                    <img src="/img/mackerel.png" alt="watermelon"/>
                    <a href="">
                        <h3>Mackerel</h3>
                    </a>
                    <p>
                        $3.99 /kg
                    </p>
                </div>
                <div class="columns small-3 product">
                    <img src="/img/hilsa.png" alt="kiwi"/>
                    <a href="">
                        <h3>Hilsa</h3>
                    </a>
                    <p>
                        $5.99 /kg
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="columns small-3 product">
                    <img src="/img/sardine.png" alt="lemon"/>
                    <a href="shop_detail">
                        <h3>Sardine</h3>
                    </a>
                    <p>
                        $2/kg
                    </p>
                </div>
                <div class="columns small-3 product">
                    <img src="/img/catla.png" alt="apple"/>
                    <a href="">
                        <h3>Catla Catla</h3>
                    </a>
                    <p>
                        $10 / kg
                    </p>
                </div>
                <div class="columns small-3 product">
                    <img src="/img/mackerel.png" alt="watermelon"/>
                    <a href="">
                        <h3>Mackerel</h3>
                    </a>
                    <p>
                        $3.99 /kg
                    </p>
                </div>
                <div class="columns small-3 product">
                    <img src="/img/hilsa.png" alt="kiwi"/>
                    <a href="">
                        <h3>Hilsa</h3>
                    </a>
                    <p>
                        $5.99 /kg
                    </p>
                </div>
            </div>
        </div>
    </div>
{{end}}