{{define "content"}}
    <div class="row categories">
        <div class="columns small-10 small-offset-1">
            {{range .Categories}}
                <div class="row category {{if .IsOrientLeft }} orient-left {{else}} orient-right {{end}}">
                    <a href="{{.URL}}">

                        {{if .IsOrientLeft}}
                            <div class="columns small-4">
                                <img src="/img/{{.ImageURL}}" alt="uncooked fish"/>
                            </div>
                        {{end}}

                        <div class="columns small-8">
                            <h2>{{.Title}}</h2>
                            <p>{{.Description}}</p>
                        </div>

                        {{if eq .IsOrientLeft false}}
                            <div class="columns small-4">
                                <img src="/img/{{.ImageURL}}" alt="uncooked fish"/>
                            </div>
                        {{end}}
                    </a>
                </div>
            {{end}}
        </div>
    </div>
{{end}}