<!DOCTYPE html>
<html>
<head>
<title>Lemonade Stand Supply</title>
<link href="/css/app.css" rel="stylesheet" />
</head>
<body>
{{template "_header.html"}}
	<div class="row categories">
		<div class="columns small-10 small-offset-1">
			<div class="row category orient-left">
				<a href="shop_details">
					<div class="columns small-4">
						<img src="/img/uncooked_fish.png" alt="lemon" />
					</div>
					<div class="columns small-8">
						<h2>Uncooked fishes</h2>
						<p>
							We have wide varities of fresh fishes available.
							The most important characteristic of fish in transport is its freshness –
							and the freshest fish is the one just caught.
							As opposed to other kinds of meat that require maturing,
							fish is best sold and eaten fresh, preferably killed right before being cooked.
							Transport of fresh fish is considerably expensive,
							which is probably the reason why in total fish and fish products consumption only 3% of fresh fish is used.
						</p>
					</div>
				</a>
			</div>
			<div class="row category orient-right">
				<div class="columns small-8">
					<h2>Cooked fishes</h2>
					<p>Save your butter for baking. We've got five healthier ideas for cooking
						fresh fish so it turns out moist and delicious. Some of them are Grilled fish,
						Pooched fish, steamed fish, Baked fish, fried fish etc.Choosing fish for your entree is smart -- until it's salted, breaded and fried.
						For the healthiest fish preparation, start by selecting a sustainable fillet.
						The Monterey Bay Aquarium's Seafood Watch notes U.S. catfish, Alaskan salmon, U.S.-farmed rainbow trout and Pacific halibut as some of the top options.
						Then, cook it in a manner that limits sodium, fat and calories while still offering the taste you desire.</p>
				</div>
				<div class="columns small-4">
					<img src="/img/cooked_fish.png" alt="kiwi" />
				</div>
			</div>
		</div>
	</div>
	{{template "_footer.html"}}
</body>
</html>