<!DOCTYPE html>
<html>
<head>
<title>Shopper's choice</title>
<link href="/css/app.css" rel="stylesheet" />
</head>
<body>
{{template "_header.html"}}
	<div class="row detail">
		<div class="columns-small-8 small-offset-2">
			<div class="row">
				<div class="columns small-4">
					<img src="/img/sardine.png" alt="lemon" />
				</div>
				<div class="columns small-8 details">
					<h2>Sardine</h2>
					<div class="row">
						<div class="columns small-3 text-right">
							Price
						</div>
						<div class="columns small-8 small-offset-1">
							$1.09 /kg
						</div>
					</div>
					<div class="row">
						<div class="columns small-8 small-offset-4">
							$1.04 / kg
						</div>
					</div>
					<div class="row">
						<div class="columns small-3 text-right">
							Organic
						</div>
						<div class="columns small-8 small-offset-1">
							Yes
						</div>
					</div>
					<div class="row">
						<div class="columns small-3 text-right">
							Origin
						</div>
						<div class="columns small-8 small-offset-1">
							India:)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="columns small-10 small-offset-1">
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="columns small-12">
					<p>
						something in here
					</p>
					<p>
						oh its working
					</p>
				</div>
			</div>
		</div>
	</div>
	{{template "_footer.html"}}
</body>
</html>